<!<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Adedoyin beacon of hope foundation.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
    .donation-section {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      padding: 30px;
      background-color: grey; /* Peach background */
      border-radius: 10px;
    }

    .donation-column {
      flex: 1;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h3 {
      color: green; /* Peachy brown color */
      margin-bottom: 15px;
    }

    /* Bank Details Section */
    .bank-details p {
      font-size: 1.1rem;
      color: #333;
      line-height: 1.6;
    }

    /* Payment Form Section */
    form label {
      font-size: 1rem;
      color: #333;
      display: block;
      margin-bottom: 8px;
    }

    form input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    form button {
      width: 100%;
      padding: 10px;
      background-color: #D2691E;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }

    form button:hover {
      background-color: #C2581B;
    }

    /* Responsive Styling for Mobile */
    @media screen and (max-width: 768px) {
      .donation-section {
        flex-direction: column;
        padding: 20px;
      }
    }
    </style>
    
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-flex" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )" target="_blank"><img src="images/banner/foreground-04-1600x60.png" srcset="images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x" alt="" width="1600" height="310"></a>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="/"><img class="brand-logo-light" src="images/Logo1.jpg" alt=""  height="80"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about-us">About Us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/causes">Causes</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contacts">Contacts</a>
                         <li class="rd-nav-item"><a class="rd-nav-link" href="/gallery">Gallery</a>
                      </li>
                      </li>
                    </ul><a class="button button-primary button-sm" href="#">Donate</a>
                  </div>
                </div><a class="button button-primary button-sm" href="/donate">Donate</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="parallax-container" data-parallax-img="images/hero1.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">Donate</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Donate</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="donation-section">
    <!-- Bank Account Information Column -->
    <div class="donation-column bank-details">
      <h3>Bank Deposit Information</h3>
      <p><strong>Bank Name:</strong> XYZ Bank</p>
      <p><strong>Account Name:</strong> Adedoyin Beacon of Hope</p>
      <p><strong>Account Number:</strong> 1234567890</p>
      <p><strong>Swift Code:</strong> ABCDXYZ</p>
    </div>

    <!-- Card Payment Form Column -->
    <div class="donation-column payment-form">
      <h3>Card Payment</h3>
      <form action="#">
        <label for="name">Cardholder Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>

        <label for="card-number">Card Number</label>
        <input type="text" id="card-number" name="card-number" placeholder="Enter card number" required>

        <label for="expiry-date">Expiry Date</label>
        <input type="text" id="expiry-date" name="expiry-date" placeholder="MM/YY" required>

        <label for="cvv">CVV</label>
        <input type="text" id="cvv" name="cvv" placeholder="Enter CVV" required>

        <button type="submit">Donate Now</button>
      </form>
    </div>
  </section>
    
      <!-- Contact us-->
      <section class="section section-lg bg-gray-1 text-center">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-7">
              <h3>Get in Touch</h3>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="/sendmail">
                <div class="form-wrap">
                  <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-name">Your Name</label>
                </div>
                <div class="form-wrap">
                  <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="contact-email">E-mail</label>
                </div>
                <div class="form-wrap">
                  <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric">
                  <label class="form-label" for="contact-phone">Phone</label>
                </div>
                <div class="form-wrap">
                  <label class="form-label" for="contact-message"> Message</label>
                  <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 col-sm-7 col-lg-5">
                    <button class="button button-block button-lg button-primary" type="submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      <!-- Page Footer-->
          <!-- Page Footer-->
      <footer style="background:white;color:black;" class="section footer-minimal context-dark">
        <div  style="background:white;" class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12"><a href="/index"><img src="images/Logo1.jpg" alt="" width="80" height="70"/></a></div>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a style="color:green" href="/about-us">About Us</a></li>
                  <li><a style="color:green" href="/causes">Causes</a></li>
                  <li><a style="color:green" href="/gallery">Gallery</a></li>
                  <li><a style="color:green" href="#">Team</a></li>
                  <li><a style="color:green" href="/contacts">Contacts</a></li>
  <li><a style="color:green" href="/volounteer">Vonlunteer</a>
                    </li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-facebook" href="https://www.facebook.com/profile.php?id=61565802729249&name=xhp_nt__fb__action__open_user"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-instagram" href="https://www.instagram.com/adbeaconhope"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-twitter" href="https://www.twitter.com/Adbeaconhope"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-youtube-play" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-linkedin" href="https://www.linkedin.com/company/Adbeaconhope"></a></li>
                  
                </ul>
              </div>
            </div>
            <p style="color:black;" class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span></span><span>.&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span>Design&nbsp;by&nbsp;<a style="color:black;"  href="https://www.easyhostnet.com/">Easyhostnet</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
     <script>
    const menuIcon = document.getElementById('menu-icon');
    const navMenu = document.getElementById('nav-menu');

    menuIcon.addEventListener('click', () => {
        navMenu.classList.toggle('active');
    });
</script>
    
  </body>
</html>
