<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Adedoyin Beacon of Hope Foundation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
      .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
      }
      html.ie-10 .ie-panel,
      html.lt-ie-10 .ie-panel {
        display: block;
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      .gallery-heading {
        text-align: center;
        color: black;
        margin: 70px 0;
        font-size: 2.5em;
      }

      .gallery-container {
        display: grid;
        gap: 20px;
        margin: 70px auto;
      }

      .gallery-item img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
      }

      @media (min-width: 768px) {
        .gallery-container {
          grid-template-columns: repeat(2, 1fr);
          width: calc(100% - 400px);
        }
      }

      @media (max-width: 767px) {
        .gallery-container {
          grid-template-columns: 1fr;
          width: calc(100% - 40px);
        }
      }
    </style>
  </head>
  <body>
    <div class="ie-panel">
      <a href="http://windows.microsoft.com/en-US/internet-explorer/">
        <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. Upgrade for free.">
      </a>
    </div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header -->
      <header class="section page-header">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-lg-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-panel">
                  <!-- Navbar Toggle -->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                    <span></span>
                  </button>
                  <!-- Navbar Brand -->
                  <div class="rd-navbar-brand">
                    <a href="/"><img class="brand-logo-light" src="images/Logo1.jpg" alt="" width="70" height="51" /></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about-us">About Us</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/causes">Causes</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contacts">Contacts</a></li>
                    </ul>
                    <a class="button button-primary button-sm" data-bs-toggle="modal" data-bs-target="#donationModal" href="#">Donate</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Gallery Section -->
      <section class="parallax-container" data-parallax-img="images/hero1.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">Gallery</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="/">Home</a></li>
                  <li class="active">Image Gallery</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <h1 class="gallery-heading">Gallery</h1>
      <div class="gallery-container">
        <!-- Images -->
        <div class="gallery-item"><img src="images/h1.jpg" alt="Image 1"></div>
        <div class="gallery-item"><img src="images/h2.jpg" alt="Image 2"></div>
        <div class="gallery-item"><img src="images/h3.jpg" alt="Image 3"></div>
        <div class="gallery-item"><img src="images/h4.jpg" alt="Image 4"></div>
        <div class="gallery-item"><img src="images/h5.jpg" alt="Image 5"></div>
        <div class="gallery-item"><img src="images/h6.jpg" alt="Image 6"></div>
        <div class="gallery-item"><img src="images/h7.jpg" alt="Image 7"></div>
        <div class="gallery-item"><img src="images/h8.jpg" alt="Image 8"></div>

        <!-- Dynamic Images (D1 to D32) -->
        <!-- Example: Loop through 32 images -->
        <!-- Add more as needed -->
     
<div class="gallery-item"><img src="images/D7.jpg" alt="Image 7"></div>
<div class="gallery-item"><img src="images/L1.jpg" alt="Image L1"></div>
<div class="gallery-item"><img src="images/L2.jpg" alt="Image L2"></div>
<div class="gallery-item"><img src="images/L3.jpg" alt="Image L3"></div>
<div class="gallery-item"><img src="images/L4.jpg" alt="Image L4"></div>
<div class="gallery-item"><img src="images/L5.jpg" alt="Image L5"></div>
<div class="gallery-item"><img src="images/L6.jpg" alt="Image L6"></div>
<div class="gallery-item"><img src="images/L7.jpg" alt="Image L7"></div>
<div class="gallery-item"><img src="images/L8.jpg" alt="Image L8"></div>
<div class="gallery-item"><img src="images/L9.jpg" alt="Image L9"></div>
<div class="gallery-item"><img src="images/L10.jpg" alt="Image L10"></div>
<div class="gallery-item"><img src="images/L11.jpg" alt="Image L11"></div>
<div class="gallery-item"><img src="images/L12.jpg" alt="Image L12"></div>
<div class="gallery-item"><img src="images/L13.jpg" alt="Image L13"></div>
<div class="gallery-item"><img src="images/L14.jpg" alt="Image L14"></div>
<div class="gallery-item"><img src="images/L15.jpg" alt="Image L15"></div>
<div class="gallery-item"><img src="images/L16.jpg" alt="Image L16"></div>
<div class="gallery-item"><img src="images/L17.jpg" alt="Image L17"></div>
<div class="gallery-item"><img src="images/L18.jpg" alt="Image L18"></div>
<div class="gallery-item"><img src="images/L19.jpg" alt="Image L19"></div>
<div class="gallery-item"><img src="images/L20.jpg" alt="Image L20"></div>
<div class="gallery-item"><img src="images/L21.jpg" alt="Image L21"></div>
<div class="gallery-item"><img src="images/L22.jpg" alt="Image L22"></div>
<div class="gallery-item"><img src="images/L23.jpg" alt="Image L23"></div>
<div class="gallery-item"><img src="images/L24.jpg" alt="Image L24"></div>
<div class="gallery-item"><img src="images/L25.jpg" alt="Image L25"></div>
<div class="gallery-item"><img src="images/L26.jpg" alt="Image L26"></div>
<div class="gallery-item"><img src="images/D13.jpg" alt="Image 13"></div>
<div class="gallery-item"><img src="images/D14.jpg" alt="Image 14"></div>
<
<div class="gallery-item"><img src="images/D19.jpg" alt="Image 19"></div>
<div class="gallery-item"><img src="images/D20.jpg" alt="Image 20"></div>

<div class="gallery-item"><img src="images/D30.jpg" alt="Image 30"></div>
<div class="gallery-item"><img src="images/D31.jpg" alt="Image 31"></div>
        <!-- Repeat up to D32 -->
        <div class="gallery-item"><img src="images/D32.jpg" alt="Image 32"></div>

        <!-- Video Items -->
        <div class="gallery-item">
          <video width="100%" controls>
            <source src="videos/V.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="gallery-item">
          <video width="100%" controls>
            <source src="videos/V.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>

      <!-- Page Footer -->
      <footer class="section footer-minimal context-dark" style="background:white;color:black;">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12">
                <a href="/index"><img src="images/Logo1.jpg" alt="" width="80" height="70"></a>
              </div>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a style="color:green" href="/about-us">About Us</a></li>
                  <li><a style="color:green" href="/causes">Causes</a></li>
                  <li><a style="color:green" href="/gallery">Gallery</a></li>
                  <li><a style="color:green" href="#">Team</a></li>
                  <li><a style="color:green" href="/contacts">Contacts</a></li>
  <li><a style="color:green" href="/volounteer">Volunteer</a>
                    </li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-facebook" href="https://www.facebook.com/profile.php?id=61565802729249"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-instagram" href="https://www.instagram.com/adbeaconhope"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-twitter" href="https://www.twitter.com/Adbeaconhope"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-youtube-play" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-black fa-linkedin" href="https://www.linkedin.com/company/Adbeaconhope"></a></li>
                  
                
                </ul>
              </div>
            </div>
            <p style="color:black;" class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span></span><span>.&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span>Design&nbsp;by&nbsp;<a style="color:black;"  href="https://www.easyhostnet.com/">Easyhostnet</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
     <script>
    const menuIcon = document.getElementById('menu-icon');
    const navMenu = document.getElementById('nav-menu');

    menuIcon.addEventListener('click', () => {
        navMenu.classList.toggle('active');
    });
</script>
    
  </body>
</html>
